
<!-- Link Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="col-lg-4">
    <img class="img-circle" src="{{ '/img/links/fabble.png' | prepend: site.baseurl_root }}" alt="Generic placeholder image" width="140" height="140">
    <h2>
      {% t links.fabble.title %}
    </h2>
    <p>{% t links.fabble.about %}</p>
    <p><a class="btn btn-default" href="{% t links.fabble.link %}" role="button" target="_blank">{% t links.linkText %}</a></p>
  </div>
</section>

<!-- Link End -->
